html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
vertical-align: baseline;
}   
*{
    box-sizing: border-box;

}
body{
    /* background-color: rgba(62, 62, 62, 0.553); */
    background-image: url(../image/bgimg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.contenaire{
    width: 80%;
    margin: auto;
}
header{
    /* background-color: transparent; */
    background-color: rgba(0, 0, 0, 0.553);
    border: 1px solid black;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
#login{
    background-color: green;
    border-radius: 10px;
    font-size: 20px;
    margin-right: 20px;
    padding: 5px;
    border: 1px solid black;
}
#login:hover{
    background-color: greenyellow;
}
a{
    text-decoration: none;
    color: black;
}
form{
    margin: 50px 0px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.input{
    width: 80%;
}

input{
    width: 100%;
    font-size: 30px;
    border-radius: 15px;
    background-color: transparent;
    margin: 25px 0px;
}

#submit{
    background-color: green;
}
#reset{
    background-color: red;
}

.errer{
    display: flex;
    justify-content: center;
}
.errer404{
    background-image: url(../image/no.gif);
    background-repeat: no-repeat;
    background-size: cover;
    height: 320px;
    width: 320PX;
}
.error{
    width: 70%;
    height: 320px;
    /* background-color: red; */
    border: 1px solid black;
    border-radius: 0px 15px 15px 0px;
    display: flex;
    align-items: center;
}
.pseudo404, .email404, .mdp404, .img404{
    color: white;
    margin-left: 50px;
    font-size: 30px;
}